/*
 File: style.css
 Author: Serényi Zsolt Ödön
 Copyright: 2022, Serényi Zsolt Ödön
 Group: Szoft_II_N
 Date: 2022-11-29
 Github: https://github.com/OneBoyTwoGirl
 Licenc: GNU GPL
 -->*/


@import '~bootstrap';

$theme-colors: (
  "success":    rgb(145, 231, 145),
  "info":       rgb(64, 64, 207),
  "warning":    rgb(255, 204, 110),
  "danger":     rgb(214, 36, 108),
 
);


@import '~bootstrap';

#halfarea{
    border-radius: 20px; 
    opacity: 0.5;
}
#area{
    border-radius: 20px; 
}

.about{
    background-color: rgba(184, 235, 174, 0.356);
    border-radius: 5px;
}

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }